<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="DisplayLogger" xsi:type="File" layout="${date:format=dd/MM/HH mm\:ss} # ${message}" fileName="${specialfolder:dir=Display/logs:file=log.txt:folder=UserProfile}" archiveFileName="${specialfolder:dir=Display/logs/archives:folder=UserProfile}/log.{###}.txt" archiveAboveSize="10485760" archiveNumbering="Sequence"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="DisplayLogger"/>
    </rules>
  </nlog>
</configuration>
